In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
511,tt0203009,52500000,179213434,Moulin Rouge!,Nicole Kidman|Ewan McGregor|John Leguizamo|Jim...,Baz Luhrmann,No Laws. No Limits. One Rule. Never Fall In Love.,A celebration of love and creative inspiration...,127,Romance|Drama|Music,Bazmark Films|Twentieth Century Fox Film Corpo...,3/9/2001,7.2,2001
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008
781,tt1586752,30000000,2527904,Machine Gun Preacher,Gerard Butler|Michelle Monaghan|Justin Michael...,Marc Forster,Hope is the greatest weapon of all,"The true story of Sam Childers, a former drug-...",129,Action|Thriller|Crime,Mpower Pictures|Relativity Media|1984 Private ...,9/23/2011,6.4,2011
1044,tt1615065,45000000,47000000,Savages,Blake Lively|Taylor Kitsch|Aaron Taylor-Johnso...,Oliver Stone,Young Beautiful Deadly.,Pot growers Ben and Chon face off against the ...,131,Crime|Drama|Thriller,Ixtlan|Relativity Media|Onda Entertainment,7/6/2012,6.2,2012

Добавим колонку profit (здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. Прибыль = сборы - бюджет (profit = revenue - budget)).

In [29]:
data['profit'] = data.revenue - data.budget 
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [30]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

In [33]:
print(data.shape)

(1889, 15)

In [34]:
print(data.dtypes)

imdb_id                  object
budget                    int64
revenue                   int64
original_title           object
cast                     object
director                 object
tagline                  object
overview                 object
runtime                   int64
genres                   object
production_companies     object
release_date             object
vote_average            float64
release_year              int64
profit                    int64
dtype: object

In [28]:
data_numeric = data.select_dtypes(include=[np.number])
numeric_cols = data_numeric.columns.values
print(numeric_cols)

['budget' 'revenue' 'runtime' 'vote_average' 'release_year' 'profit']

In [35]:
data_non_numeric = data.select_dtypes(exclude=[np.number])
non_numeric_cols = data_non_numeric.columns.values
print(non_numeric_cols)

['imdb_id' 'original_title' 'cast' 'director' 'tagline' 'overview'
 'genres' 'production_companies' 'release_date']

# Предобработка

In [0]:
# создадим словарь для ответов
answers = {} 

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [177]:
answers = {'1' :'5. Pirates of the Caribbean: On Stranger Tides (tt1298650)', 
           '2' : '2. Gods and Generals (tt0279111)',
           '3' : '3. Winnie the Pooh (tt1449283)',
           '4' : '2.110',
           '5' : '1.107',
           '6' : '5. Avatar (tt0499549)',
           '7' : '5. The Lone Ranger (tt1210819)',
           '8' : '1.1478',
           '9' : '4. The Dark Knight (tt0468569)',
           '10' : '5. The Lone Ranger (tt1210819)',
           '11' : '3. Drama',
           '12' : '1. Drama', 
           '13' : '5.Peter Jackson',
           '14' : '3.Robert Rodriguez',
           '15' : '3.Chris Hemsworth',
           '16' : '3.Matt Damon',
           '17' : '2.Action',
           '18' : '1.K-19: The Widowmaker (tt0267626)',
           '19' : '5.2015',
           '21' : '4. Сентябрь',
           '22' : '2. 450',
           '23' : '5. Peter Jackson',
           '24' : '5. Four By Two Productions',
           '25' : '3.Midnight Picture Show',
           '26' : '1.Inside Out, The Dark Knight, 12 Years a Slave',
           '27' : '5.Daniel Radcliffe & Rupert Grint'    
}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '3. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [11]:
# тут пишем ваш код для решения данного вопроса:
data[(data.budget == data.budget.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

# номер вопроса и ваш ответ на него для включения в словарь
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [12]:
data[(data.runtime == data.runtime.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [13]:
data[(data.runtime == data.runtime.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['4'] = '2.110'
# +

In [17]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['5'] = '1.107'
# +

In [18]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['6'] = '5. Avatar (tt0499549)'
# +

In [25]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.profit.max()

2544505847

In [36]:
data[(data.profit == data.profit.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [37]:
data[(data.profit == data.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['8'] = '1.1478'
# +

In [19]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [45]:
data.loc[data['release_year'] == 2008].query(' revenue == revenue.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [49]:
data[(data.release_year>2012) & (data.release_year<=2014) ][['imdb_id', 'revenue', 'profit', 'original_title',]].query('profit == profit.min()')

        imdb_id   revenue     profit   original_title
1245  tt1210819  89289910 -165710090  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['11'] = '3. Drama'
# +

In [54]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
geners = pd.Series([x.split('|') for x in data['genres']]).explode().value_counts().head()
geners

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['12'] = '1. Drama'
# +

In [56]:
data_profit=data[data.profit > 0]
genres=data_profit.genres.str.split('|',expand=True).stack().value_counts()
print(genres)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['13'] = '5.Peter Jackson'
# +

In [82]:
def max_sum_director(df):
    sum_revenue = Counter()
    for i in range(len(df)):
        for j in df.iloc[i].director.split('|'):
            sum_revenue[j] += df.iloc[i].revenue
    return pd.DataFrame.from_dict(sum_revenue, orient='index', columns = ['sum_revenue'])
display(max_sum_director(data[data.revenue > 0]).sort_values(by=['sum_revenue'], ascending = False))

                   sum_revenue
Peter Jackson       6490593685
Christopher Nolan   4167548502
David Yates         4154295625
Michael Bay         3886938960
J.J. Abrams         3579169916
...                        ...
David MichÃ´d          2295423
Steven Shainberg       2281089
Paul Schrader          2062066
Keanu Reeves           2054941
Simon Hunter           2033165

[997 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['14'] = '3.Robert Rodriguez'
# +

In [85]:
director_Action = data[data.genres.str.contains("Action", na=False)]
director_Action_2 = director_Action['director'].str.split('|',expand=True).stack().value_counts()
director_Action_2

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Chris Gorak           1
Keanu Reeves          1
Chuck Russell         1
Chad Stahelski        1
Danny Pang            1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['15'] = '3.Chris Hemsworth'
# +

In [93]:
data_2012 = data.loc[data.release_year == 2012][['cast', 'revenue']]
data_2012.cast = data_2012.cast.apply(lambda s: s.split('|'))
data_2012_exploded = data_2012.explode('cast')
data_2012_exploded.groupby(by = 'cast').revenue.sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['16'] = '3.Matt Damon'
# +

In [80]:
def counter(movie_bd, x):
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info
sum_gen = counter(data[data['budget'] > data['budget'].mean()], 'cast')
sum_gen

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Eddie Murphy         15
                     ..
Aidan Gillen          1
Aryana Engineer       1
Patricia Clarkson     1
Jon Bon Jovi          1
Kimberly Elise        1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['17'] = '2.Action'
# +

In [88]:
genres = []
for i in range (0, len(data)):
    if 'Nicolas Cage'in data.cast[i]:
        genres.append(data.genres[i])
gen = pd.Series(genres)
gen.str.split('|').explode().value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['18'] = '1.K-19: The Widowmaker (tt0267626)'
# +

In [77]:
data[data.production_companies.str.contains('Paramount Pictures')].groupby('original_title')['profit'].sum().idxmin()

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['19'] = '5.2015'
# +

In [118]:
grouped_data = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
print(grouped_data.head(5))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['20'] = '1. 2014'
# +

In [62]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().idxmax()

2014

ВАРИАНТ 2

In [64]:
data_max_profit = data[data.production_companies.str.contains('Warner Bros')]
pd.DataFrame(data_new.groupby(by = 'release_year').profit.sum()).sort_values('profit', ascending = False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['21'] = '4. Сентябрь'
# +

In [141]:
# пока не додумалась, как написать код, выдающий ответ сразу, нашла отдельно за каждый месяц и сравнила)))
# получилось в сентябре - 229
data['release_date'] = pd.to_datetime(data['release_date'])
data[data.release_date.dt.month.isin([12])]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,2015-12-25,7.2,2015,397950503
15,tt3460252,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,2015-12-25,7.4,2015,111760117
24,tt1596363,28000000,133346506,The Big Short,Christian Bale|Steve Carell|Ryan Gosling|Brad ...,Adam McKay,This is a true story.,The men who made millions from a global econom...,130,Comedy|Drama,Paramount Pictures|Plan B Entertainment|Regenc...,2015-12-11,7.3,2015,105346506
48,tt2058673,105000000,133718711,Point Break,Edgar RamÃ­rez|Luke Bracey|Teresa Palmer|Delro...,Ericson Core,The only law that matters is gravity,A young undercover FBI agent infiltrates a gan...,114,Action|Crime|Thriller,Studio Babelsberg|Alcon Entertainment|DMG Ente...,2015-12-03,5.5,2015,28718711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855,tt0146309,80000000,34566746,Thirteen Days,Kevin Costner|Bruce Greenwood|Steven Culp|Dyla...,Roger Donaldson,You'll never believe how close we came,"Dramatisation of the Cuban Missile Crisis, the...",145,Drama|Thriller,New Line Cinema|Tig Productions,2000-12-24,6.6,2000,-45433254
1860,tt0190865,75000000,215663859,Vertical Limit,Chris O'Donnell|Robin Tunney|Bill Paxton|Scott...,Martin Campbell,The Mountain Will Decide.,"Trapped near the summit of K2, the world's sec...",124,Action|Adventure|Thriller,Columbia Pictures Corporation|Global Entertain...,2000-12-08,6.0,2000,140663859
1863,tt0219653,28000000,33000337,Dracula 2000,Gerard Butler|Christopher Plummer|Jonny Lee Mi...,Patrick Lussier,The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,Horror|Thriller,Neo Art & Logic|Dimension Films|Wes Craven Films,2000-12-22,4.7,2000,5000337
1867,tt0181536,43000000,80049764,Finding Forrester,Sean Connery|Rob Brown|F. Murray Abraham|Anna ...,Gus Van Sant,"In an ordinary place, he found the one person ...",Gus van Sant tells the story of a young Africa...,136,Drama,Fountainbridge Films|Laurence Mark Productions...,2000-12-21,6.9,2000,37049764
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,2000-12-08,3.9,2000,-19814759

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['22'] = '2. 450'
# +

In [124]:
data['release_date'] = pd.to_datetime(data['release_date'])
data[data.release_date.dt.month.isin([6, 7, 8,])]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,2015-06-23,5.8,2015,285603537
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,2015-06-17,6.5,2015,1082730962
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609
13,tt2120120,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,2015-07-16,5.8,2015,155637091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873,tt0160009,40000000,30199105,The Art of War,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,Christian Duguay,Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Amen Ra Films|Franchise Pictures|Warner Bros.|...,2000-08-23,5.7,2000,-9800895
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,2000-07-07,5.9,2000,4700000
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,2000-06-30,4.0,2000,-40865180
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,2000-07-19,5.2,2000,-9782502

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['23'] = '5. Peter Jackson'
# +

In [111]:
data_pr = data.copy()
def month_to_season(month):
    seasons = {
        12: 'winter',
        1: 'winter',
        2: 'winter',
        3: 'spring',
        4: 'spring',
        5: 'spring',
        6: 'summer',
        7: 'summer',
        8: 'summer',
        9: 'autumn',
        10: 'autumn',
        11: 'autumn',
    }
    return seasons[month]
data_pr['release_month'] = pd.to_datetime(data_pr.release_date).apply(lambda x: x.month)
data_pr['season'] = data_pr.release_month.apply(month_to_season)
def directors(row):
    for director in row.director.split('|'):
        return director, row.season
data_pr = pd.DataFrame(data_pr.apply(directors, axis=1).tolist(), columns=['director', 'season'])
data_pr['count'] = 1
data_pr = pd.pivot_table(data_pr, index='director', columns='season', values='count', aggfunc='sum')
data_pr.sort_values('winter', ascending=False)

season             autumn  spring  summer  winter
director
Peter Jackson         1.0     NaN     NaN     7.0
Steven Soderbergh     3.0     2.0     2.0     6.0
Clint Eastwood        4.0     NaN     2.0     6.0
Shawn Levy            3.0     2.0     1.0     4.0
Adam Shankman         NaN     2.0     2.0     4.0
...                   ...     ...     ...     ...
Wong Kar-wai          NaN     1.0     NaN     NaN
Woody Allen           NaN     1.0     2.0     NaN
Xavier Gens           1.0     NaN     NaN     NaN
Zack Snyder           NaN     4.0     2.0     NaN
Zal Batmanglij        NaN     1.0     NaN     NaN

[925 rows x 4 columns]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['24'] = '5. Four By Two Productions'
# +

In [161]:
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info
data['title_words_length'] = data.original_title.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['title_words_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen

                           0
Four By Two Productions   12
Jim Henson Company, The   10
Polsky Films               9
Dos Corazones              9
The Saul Zaentz Company    9
...                       ..
Arc Productions            1
Signature Pictures         1
Farah Films & Management   1
Aversano Films             1
Lunar Industries           1

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['25'] = '3.Midnight Picture Show'
# +

In [163]:
s_companies = data['production_companies'].str.split('|',expand=True).stack().unique()
df_result = pd.DataFrame(columns = ['production_companies', 'length'])
df_result['length'] = df_result['length'].astype('int')
for company in s_companies:
    df_company = data[data['production_companies'].str.contains(company,False)]['overview']
    for overview in df_company:
        index = len(df_result)
        df_result.loc[index,'production_companies'] = company
        df_result.loc[index,'length']  = len(overview.split())
df_result.groupby('production_companies')['length'].mean().sort_values(ascending=False).head()

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
Heineken Branded Entertainment      159.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
Name: length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [174]:
data_best = data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']][['imdb_id', 'original_title', 'vote_average']]
data_best

        imdb_id                                 original_title  vote_average
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
118   tt0816692                                   Interstellar           8.0
119   tt2015381                        Guardians of the Galaxy           7.9
125   tt2084970                             The Imitation Game           8.0
128   tt2267998                                      Gone Girl           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9
370   tt1375666                                      Inception           7.9
599   tt0468569                                The Dark Knight           8.1
872   tt0253474                                    The Pianist           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
1183  tt0993846                        The Wolf of Wall Street           7.9
1191  tt2024544                               12 Years a Slave           7.9
1800  tt0209144                                        Memento           7.9

ВАРИАНТ 2

In [180]:
data[['original_title','vote_average']].sort_values('vote_average',ascending = False).head(int(len(data['vote_average'])*0.01))

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
# номер вопроса и ваш ответ на него для включения в словарь
answers['27'] = '5.Daniel Radcliffe & Rupert Grint'
# +

In [162]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Rupert Grint Emma Watson            7
Ben Stiller Owen Wilson             6
Johnny Depp Helena Bonham Carter    6
Adam Sandler Kevin James            5
Robert Pattinson Taylor Lautner     5
Hugh Jackman Ian McKellen           5
Kristen Stewart Robert Pattinson    5
Kristen Stewart Taylor Lautner      5
Name: actor_combinations, dtype: int64

ВАРИАНТ 2

# Submission

In [178]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2.110',
 '5': '1.107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1.1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5.Peter Jackson',
 '14': '3.Robert Rodriguez',
 '15': '3.Chris Hemsworth',
 '16': '3.Matt Damon',
 '17': '2.Action',
 '18': '1.K-19: The Widowmaker (tt0267626)',
 '19': '5.2015',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3.Midnight Picture Show',
 '26': '1.Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5.Daniel Radcliffe & Rupert Grint'}

In [179]:
# и убедиться что ни чего не пропустил)
len(answers)

26